.jump-link{
    position: absolute;
    display: block;
    top: -40px;
}
.jump-link:focus{
    position: static;
    text-align: center;
    top: 20px;
}
.nav-link a{
    color: black;
    text-decoration: none;
}
.current a, .nav-link:hover{
    text-decoration: underline;
}
.contain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    margin: 10px;
}
.method-title{
    grid-column: 1 / -1;
    text-align: center;
}
.contain{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 200px;
    padding: 10px;
    flex: 50%;
}

@media (max-width: 800px) {
    .contain{
      flex-direction: column;
      flex: 100%;
    }
}
/* Do I attempt to do flashcard style? */

.nespresso{
    grid-row-start: 2;
    grid-column-start: 1;
}
.drip-coffee{
    grid-row-start: 3;
    grid-column-start: 2;
}
.pour-over{
    grid-row-start: 4;
    grid-column-start: 1;
}
.french-press{
    grid-row-start: 5;
    grid-column-start: 2;
}
.moka-pot{
    grid-row-start: 6;
    grid-column-start: 1;
}
.espresso{
    grid-row-start: 7;
    grid-column-start: 2;
}
