.navbar{
    display: none;
}
.menu{
    display: none;
}
header {
    border-bottom: solid 3px #000000;
}
.nav-items{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 10px 0;
    font-size: 110%;
}
.nav-link a{
    color: black;
    text-decoration: none;
}
.current a, .nav-link:hover{
    text-decoration: underline;
}
.opening{
    height: 40vw;
}
.nav-link a{
    color: black;
    text-decoration: none;
}
.current a, .nav-link:hover{
    text-decoration: underline; 
}
.brewing, .milk, .grinding{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    margin: 5px;
}
img {
    width: auto;
    height: auto;
}
@media screen and (prefers-reduced-motion: reduce){
    .navbar{
        transition: none;
    }
}
@media screen and (min-width: 768px) {
    .nav-items{
        justify-content: flex-end;
    }
    .brewing, .milk, .grinding{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        margin: 7px;
    }
}
@media screen and (min-width: 1200px){
    .jump-link{
        position: absolute;
        display: block;
        top: -40px;
    }
    .jump-link:focus{
        position: static;
        text-align: center;
        top: 20px;
    }
    .nav-link a{
        color: black;
        text-decoration: none;
    }
    .current a, .nav-link:hover{
        text-decoration: underline;
    }
    title {
        text-align: center;
    }
    .brewing, .milk, .grinding{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 15px;
        margin: 10px;
    }
    img {
        width: auto;
        height: auto;
    }
    p {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 0;
    }
    h1 {
        text-align: center;
    }
    
}