.jump-link{
    position: absolute;
    display: block;
    top: -40px;
}
.jump-link:focus{
    position: static;
    text-align: center;
    top: 20px;
}
.nav-link a{
    color: black;
    text-decoration: none;
}
.current a, .nav-link:hover{
    text-decoration: underline;
}
.container{
    display: grid;
    grid-template-columns: 3fr 2fr 3fr 2fr;
}
.title{
    grid-column: 1 / -1;
    text-align: center;
}
/* Do I attempt to do flashcard style? */
.cold-brew{
    grid-row-start: 2;
    grid-column: 1 / 2;
}
.iced-coffee{
    grid-row-start: 2;
    grid-column: 3 / 4;
}
.americano{
    grid-row-start: 3;
}
.latte{
    grid-row-start: 4;
}
.customize{
    grid-row-start: 5;
}