.current{
    text-decoration: underline;
}.jump-link{
    position: absolute;
    display: block;
    top: -40px;
}
.jump-link:focus{
    position: static;
    text-align: center;
    top: 20px;
}
.current{
    text-decoration: underline;
}