.jump-link{
    position: absolute;
    display: block;
    top: -40px;
}
.jump-link:focus{
    position: static;
    text-align: center;
    top: 20px;
}
body{
    font-family: "Comic Neue", serif;
    /* font-family: "Square Peg"; */
    /* font-size: 170%; */
}
.nav-link a{
    color: black;
    text-decoration: none;
}
.current a, .nav-link:hover{
    text-decoration: underline;
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    margin: 10px;
}
.title{
    grid-column: 1 / -1;
    grid-row-start: 1;
    text-align: center;
}
.customize{
    display: flex;
    grid-column: 1 / -1;
    align-items: center;
}
@media screen and (min-width: 768px) {
    .container{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 1200px){
    .container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}